* {
	font-family: 'Chewy', cursive;
}
header {
	height: 100px;
	background-color: black;
}
div {
    height: 200px;
    width: 200px;
    background-color: black;
    margin: 25px 4%;
    display: inline-block;
    padding: 5px;
    border: 5px solid red;
    cursor: pointer;
}
button {
  margin: 1% 6%;
  height: 50px;
  width: 170px;
  font-size: 24px;
  display: inline-block;
  border-radius: 5%;
  cursor: pointer;
}
.difficulty {
/*	display: none;*/
}
img {
	height: 200px;
	width: 200px;
/*	z-index: -1;*/
/*	display: none;*/
}
.gameBoard {
	position: absolute;
	height: 800px;
	width: 85%;
	background-color: white;
	left: 145px;
}
.cards {
	position: relative;
	background-color: black;
	transition: 2s ease;
	z-index: 1;
}
.active {
	background-color: gray;
	z-index: -1;
}
.isMatch {
  opacity: 0.1;
  background: lightgray;
  border: 5px solid white;
  transition: 3s ease;
}
.diffColor {
    height: 50px;
    width: 90%;
    background-color: white;
    display: block;
    position: relative;
    top: -50px;
    z-index: -1;
    border: none;
}
.timer {
  background-color: white;
  font-size: 35px;
  text-align: center;
  height: 75px;
  width: 100px;
}
.shotClock {
	background-color: white;
	border: none;
}
#clock {
		background-color: white;
	border: none;
}
.moves {
  background-color: white;
  font-size: 35px;
  text-align: center;
  height: 75px;
  width: 100px;
}
.moveCount {
    background-color: white;
    border: none;
    margin: 1px;
}
.matchCount {
	background-color: white;
	font-size: 35px;
	text-align: center;
	height: 75px;
	width: 100px;
}
.matches {
	background-color: white;
	border: none;
	margin: 1px;
}
#easy {
	background-color: green;
}
#medium {
	background-color: orange;
}
#hard {
	background-color: red;
}
